<div class="footer">    
    <span class="h5 container-fluid ps-5">
        Patrocinan
    </span>
    <div class="d-flex px-3 row justify-content-center">
        <div class="patrocinador col-2">
            <img src="../../../assets/img/sponsors/sp1.jpg" class="img-fluid" alt="Patrocinador 1">
        </div>
        <div class="patrocinador col-2">
            <img src="../../../assets/img/sponsors/sp2.png" class="img-fluid" alt="Patrocinador 2">
        </div>
        <div class="patrocinador col-2">
            <img src="../../../assets/img/sponsors/sp3.png" class="img-fluid" alt="Patrocinador 3">
        </div>
        <div class="patrocinador col-2">
            <img src="../../../assets/img/sponsors/sp4.png" class="img-fluid" alt="Patrocinador 4">
        </div>
        <div class="patrocinador col-2">
            <img src="../../../assets/img/sponsors/sp5.jpg" class="img-fluid" alt="Patrocinador 5">
        </div>
    </div>  
</div>