<div class="card">
    <div class="card-body">
      <h5 class="card-title">{{participante.nombre}} {{participante.apellidos}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{participante.dni}}</h6>
      <div class="d-flex justify-content-between align-items-center">
        <p class="card-text">
          Email: {{participante.email}}<br>
          Teléfono: {{participante.telefono}}<br>
          Entrada: {{participante.entrada}}
        </p>
        <button class="btn btn-primary" style="height: 40px;" (click)="sendEmail()">
          Enviar email
        </button>
      </div>
    </div>
</div>